button, a {
    cursor: pointer;
    background-color: var(--none);
}

body {
    background-color: var(--black);
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--body);
    min-width: 390px;
    max-width: 420px;
    height: 100vh;
    min-height: 844px;
    position: absolute;
}

.none {
    display: none !important;
}

input {
    outline: none;
}