@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --mainfont: "pretendard";

    --maincolor: #0066FF;
    --blue: #7EB2FF;
    --gray: #E7EAEF;

    font-family: var(--mainfont);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
